<mat-tab-group dynamicHeight mat-align-tabs="center" [disablePagination]="true">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon" svgIcon="github"></mat-icon>
      GitHub
    </ng-template>
    <div class="tab-content">
      <a target="_blank" href="https://github.com/JMo911">Click here to visit me on GitHub</a>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon" svgIcon="linkedin"></mat-icon>
      LinkedIn
    </ng-template>
    <div class="tab-content">
      <a target="_blank" href="https://www.linkedin.com/in/jacob-b-moss/">Click here to visit me on LinkedIn</a>
    </div>
  </mat-tab>

</mat-tab-group>
