.custom-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  padding: 2rem;

    .card-body {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
}
