.jumbo-container {
  height: 100vh;
  display: table-cell;
  vertical-align: middle;

  .jumbotron {
    display: inline-block;
    width: 95%;
    margin-left: 2.5%;
    border-radius: 0.5em;
  }

  .text-info {
    margin-bottom: 0.5em;
  }

  p {
    margin-bottom: 1em;
  }

  .signature {
    font-family: 'Dancing Script', cursive;
  }

}
