<div class='jumbo-container'>
  <div class="jumbotron">
    <h1 class="display-3">Welcome to <span id='logo'>MossCode</span>!</h1>
    <p class="lead">Thank you for visiting. Please read more about me below, check out my projects on the <a [routerLink]="['/projects']" href="#" class="alert-link">Projects page</a>, and leave me a message on the <a [routerLink]="['/contact']" href="#" class="alert-link">Contact page</a> to get in touch.</p>
    <hr class="my-4">
    <h3 class="text-info">Background:</h3>
    <p>I worked as a server for 7.5 years while earning degrees in Finance and Physical Therapy. I explored internships in both industries after college, but realized the lifestyle of tech better suited me. I reached out to my network and discovered a family friend was hiring contractors for Indeed.com. I worked a Summer contract sorting records for HR, then got hired full time as a data analyst. I worked with the Indeed Assessments team for 2.5 years, relying upon my analytical skills developed while earning the Finance degree. I collaborated with several engineering teams and shortly discovered that I loved what they were able to do. I enrolled in a 6 month MERN stack boot camp, learned a ton, and got hooked on software development. One of my teaching assistants gave me a referral for an open position on his team at Kapsch TrafficCom. I am now a full time Software Engineer, and aim to continue improving by working freelance on the side.
    </p>

    <h3 class="text-info">Important things to know about me:</h3>

    <ul>
      <li>I am purpose-driven. I need to understand how the work I do positively impacts the world around me.</li>
      <li>My passions are environmental sustainability, economic equality, and technological innovation.</li>
      <li>I believe active listening is necessary for success. Eveyone deserves to have their perspective considered.</li>
    </ul>

    <hr class="my-4">

    <p>If you need help building your dream application, I'd love to help you get there.</p>
    <p>- Sincerely,</p>
    <h3 class='signature'>Moss</h3>
  </div>
</div>

