<div class='jumbo-container'>
  <div class="jumbotron">
    <h1 class="display-3">Welcome to <span id='logo'>MossCode</span>!</h1>
    <p class="lead">Developing software since 2019.</p>
    <hr class="my-4">
    <h4>Background Summary:</h4>
    <p>I worked as a server for 7.5 years while earning degrees in Finance and Physical Therapy. I explored internships in both industries after college, but realized the lifestyle of tech better suited me. I reached out to my network and discovered a family friend was hiring contractors for Indeed.com. I worked the Summer internship sorting records for HR, then got hired full time as a data analyst. I worked with the Indeed Assessments team for 2.5 years, relying upon my analytical skills developed while earning the Finance degree. I collaborated with several engineering teams and shortly discovered that I loved what they were able to do. I enrolled in a 6 month MERN stack boot camp, learned a ton, and got hooked on software development. One of my teaching assistants had open positions hiring on his team. I am now a full time Software Engineer for Kapsch TrafficCom. I aim to continue learning new technologies by working freelance on the side.
    </p>

    <h4>Important things to know about me:</h4>
    <ul>
      <li>I am purpose-driven. I need to understand how the work I do positively impacts the world around me.</li>
      <li>I constantly play the role of mediator in teams. I always strive to understand each perspective voiced.</li>
    </ul>
    <hr class="my-4">
    <p>If you need help building your dream application, I'd love to help you get there.</p>
    <p>- Cheers,</p>
    <h3 class='signature'>Moss</h3>
    <!-- <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button" data-ol-has-click-handler="">Learn more</a>
    </p> -->
  </div>
</div>

