/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

.navbar {
  top: 0;
  position: sticky;
}

#logo {
  color: #df6919;
  font-family: 'Odibee Sans', cursive;
}
