<div class="container">
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <legend>Drop me a line here to get in touch</legend>

    <div class="row">
      <div class="form-group col-sm-4 offset-sm-1">
        <label for="name">Name <span *ngIf="name.invalid && name.touched" class="invalid-feedback asterisk">*</span></label>
        <input type="name" class="form-control name-input" id="name" name="name" aria-describedby="nameHelp" placeholder="Enter name" formControlName="name">
        <div *ngIf="name.invalid && name.touched" class="invalid-feedback">
          Name is required.
        </div>
        <!-- <small id="nameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
      </div>

      <div class="form-group col-sm-4 offset-sm-1">
        <label for="email">Email address <span *ngIf="email.invalid && email.touched" class="invalid-feedback asterisk">*</span></label>
        <input type="email" class="form-control email-input" aria-describedby="emailHelp" placeholder="Enter email" formControlName="email">
        <div *ngIf="email.invalid && email.touched" class="invalid-feedback">
          Email is required.
        </div>
        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-9 offset-sm-1">
        <label for="message">Message <span *ngIf="message.invalid && message.touched" class="invalid-feedback asterisk">*</span></label>
        <textarea class="form-control" rows="3" formControlName="message"></textarea>
        <div *ngIf="message.errors?.minlength && message.touched" class="invalid-feedback">
          Message must be at least 10 characters.
        </div>
        <div *ngIf="message.errors?.required && message.touched" class="invalid-feedback">
          Message is required.
        </div>
      </div>
    </div>

    <div class="button-div offset-sm-1 col-sm-9">
      <button type="submit" class="btn btn-primary btn-large btn-block" [disabled]="!contactForm.valid">Send</button>
    </div>

  </form>
</div>

